.app-footer {
  background: #000;
  bottom: 0;
  color: #FFF;
  font-size: 20px;
  height: 50px;
  position: relative;
  width: 100%;
  .footer-container {
    max-width: 1140px;
    .footer-links {
      text-align: right;
      .external {
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }
}